<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/bull-logo.png') }}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,500"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js"></script>
    {% block scripts %}{% endblock %}
  </head>
  <body style="font-family: 'Quicksand', sans-serif">
    {% block content %}
      {{ render_partial("shared/partials/navbar.html", links=["Portfolio", "Transactions"]) }}
      <div>{% block main_content %}{% endblock %}</div>
      {{ render_partial("shared/partials/footer.html") }}
      {% endblock %}
  </body>
</html>
