{% extends "layout.html" %}

{% block title %}Bullish{% endblock %}

{% block content %}
    <div class="min-h-screen pt-12 pb-6 px-2">
        <header>
            <h1 class="text-4xl font-extrabold text-green-300 text-center">Bullish</h1>
            <p class="text-lg text-gray-600 text-center">Your broker's favorite broker</p>
        </header>
        <div>
            <h2>Your accounts</h2>
            <hr>
            <div>
                <div>Account #1</div>
                <div>Account #2</div>
                <div>Account #3</div>
            </div>
        </div>
    </div>
{% endblock %}