{% extends "base-landing.html" %}
{% block title %}Bullish{% endblock %}

{% block landing_content %}
    <div class="w-full overflow-hidden bg-white pt-3">
        <table class="min-w-full">
                        <thead>
                            <tr class="border-b-2 border-gray-300">
                                <th class="px-6 py-3 text-left text-blue-500">ID</th>
                                <th class="px-6 py-3 text-left text-sm text-blue-500">Fullname</th>
                                <th class="px-6 py-3 text-left text-sm text-blue-500">Email</th>
                                <th class="px-6 py-3 text-left text-sm text-blue-500">Phone</th>
                                <th class="px-6 py-3 text-left text-sm text-blue-500">Status</th>
                                <th class="px-6 py-3 text-left text-sm text-blue-500">Created At</th>
                                <th class="px-6 py-3"></th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            <tr>
                                <td class="px-6 py-4 text-blue-900 text-sm">#1</td>
                                <td class="px-6 py-4 text-blue-900 text-sm">Damilare Anjorin</td>
                                <td class="px-6 py-4 text-blue-900 text-sm">damilareanjorin1@gmail.com</td>
                                <td class="px-6 py-4 text-blue-900 text-sm">+2348106420637</td>
                                <td class="px-6 py-4 text-blue-900 text-sm">active</td>
                                <td class="px-6 py-4 text-blue-900 text-sm">September 12</td>
                                <td class="px-6 py-4 text-right text-blue-900 text-sm">
                                    <button class="px-5 py-2 border-blue-500 border text-blue-500 rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none">
                                        View Details
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
{% endblock %}