<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="{{ url_for('static', filename='images/bull-logo.png') }}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,500"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body style="font-family: 'Quicksand', sans-serif">
    <div>{% block content %}{% endblock %}</div>
    {% block scripts %}{% endblock %}
  </body>
</html>
