<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{{ url_for('static', filename='images/bull-logo.png') }}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,500">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css" 
            integrity="sha512-y6ZMKFUQrn+UUEVoqYe8ApScqbjuhjqzTuwUMEGMDuhS2niI8KA3vhH2LenreqJXQS+iIXVTRL2iaNfJbDNA1Q==" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js" 
            integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A==" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer">
        </script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body style="font-family: 'Quicksand', sans-serif">
        {% block content %}
        <header>
            <nav class="bg-white shadow">
                <div class="container py-3 mx-auto md:flex">
                    <div class="flex items-center justify-between">
                        <div>
                            <a class="text-xl font-bold text-green-300" href="#">Bullish</a>
                        </div>
                    </div>
                    <div class="w-full px-8 flex items-center justify-between">
                        <div class="flex flex-col px-2 py-3 -mx-4 md:flex-row md:mx-0 md:py-0">
                            <a href="#" class="px-4 py-1 text-sm font-medium text-gray-700 transition-colors duration-200 transform rounded hover:bg-gray-900 hover:text-gray-100">Portfolio</a>
                            <a href="#" class="px-4 py-1 text-sm font-medium text-gray-700 transition-colors duration-200 transform rounded hover:bg-gray-900 hover:text-gray-100">Transactions</a>
                            <a href="#" class="px-4 py-1 text-sm font-medium text-gray-700 transition-colors duration-200 transform rounded hover:bg-gray-900 hover:text-gray-100">Settings</a>
                            <a href="#" class="px-4 py-1 text-sm font-medium text-gray-700 transition-colors duration-200 transform rounded hover:bg-gray-900 hover:text-gray-100">Switch Accounts</a>
                        </div>
                        <div class="relative">
                            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                                <svg class="w-5 h-5 text-gray-600" viewBox="0 0 24 24" fill="none">
                                    <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </span>
                            <input type="text" class="w-full py-1 pl-10 pr-4 text-gray-700 bg-white border border-gray-300 rounded-md transition-shadow duration-200 focus:shadow-md focus:outline-none" placeholder="Search">
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div>{% block view %}{% endblock %}</div>
        <footer>
            <div></div>
        </footer>
        {% endblock %}
        {% block scripts %}{% endblock %}
    </body> 
</html>